* {
	font-size: 30px;
	/*box-sizing: border-box;*/
}
body {
	background: beige;
}
header {
	text-align: center;
}
nav {
	border: 1px solid black;
	text-align: center;
	width: 100%;
}
a {
	font-size: 0.8em;
}